.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-user {
  height: 15vmin;
  pointer-events: none;
}



.App-header {
  background-color: white;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-loginBox {
  background-color: rgb(247, 207, 192);
  box-shadow: 5px 5px 5px darkgray;
  height: 25vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(173, 5, 5);
  padding-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.App-login {
 
  height: 20vh;
  width: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.App-signUp {
  height: 10vh;
  width: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-checkBox {
  box-shadow: 5px 5px 5px darkgray;
  background-color:  rgb(252, 230, 222);
  height: 5vh;
  width: 15vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  color: gray;
}

.App-input {
  flex-direction: column;
  height: 10vh;
  padding-left: 10px;
  padding-right: 1vh;
  display: flex;
  align-items: center;
  font-size: 10px;
  justify-content: flex-start;
}


.App-inputID {
  height: 100px;
  padding-left: 20px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.App-inputPW {
  height: 5vh;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
