div.mainHeader {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

div.mainHeader > div.title {
  font-size: 16px;
  font-weight: 800;
}

div.mainHeader > div.title > span {
  vertical-align: middle;
}

div.mainHeader > div.buttons > button {
  border: 0px;
  font-size: 14px;
  font-weight: 700;
  background-color: #fff;
  cursor: pointer;
}

div.subHeader {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

div.subHeader > div.title {
  font-size: 16px;
  font-weight: 800;
}

div.subHeader > div.title > a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}


div.subHeader > div.title > span {
  vertical-align: middle;
}

div.subHeader > div.buttons > button {
  border: 0px;
  font-size: 14px;
  font-weight: 700;
  background-color: #fff;
  cursor: pointer;
}