  
div.note {
    width: 90%;
    padding: 40px 70px 0px 30px;
  }
  
  div.note > input.title {
    display: block;
    font-size: 24px;
    font-weight: 800;
    font-family: inherit;
    border: 0px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    width: 100%;
    outline: none;
    flex: 7;
    border-color: lightgray;
  }
  
  div.note > textarea.note-contents {
    display: block;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    border: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 60px);
    outline: none;
    resize: none;
  }

  div.note > view.fail {
    display: none;
    
  }
  div.note > div.line{
    display: flex;
  }

  div.note > div.line>button {
    flex: 1;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    background-color: #fff;
    cursor: pointer;
    padding-bottom: 0px;
  }