
.studentSignUp {
  text-align: center;
}

.logo {
  height: 15rem;
  min-height: 300px;
  pointer-events: none;
}

.userStudentSignUp {
  height: 8rem;
  pointer-events: none;
  justify-content: center;
  float: left;
}
.signUpInput {
  flex-direction: column;
  height: 20em;
  min-width: 100px;
  width: 10em;
  font-size: 0.4em;
  padding-left: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid black;

}

div.inputCheck > button {
  min-width: 60px;
  margin-left: 5px;
}

.signUp {
  width: 15em;
  height: 10em;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1em;
  border: 1px solid black;
}

.header {
  background-color: white;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.studentSignUpBox {
  background-color: rgb(247, 207, 192);
  box-shadow: 5px 5px 5px darkgray;
  height: 20rem;
  min-height: 350px;
  min-width: 250px;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(173, 5, 5);
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.signUpButton {
  width: 30vh;
  min-width: 200px;
  align-items: center;
  justify-content: center;
}

.welcomeText {
  box-shadow: 5px 5px 5px darkgray;
  background-color: rgb(252, 230, 222);
  min-height: 30px;
  min-width: 480px;
  height: 1rem;
  width: 30rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vh;
  color: gray;
}

.inputCheck {
  height: 10vh;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
