.studentSignUp {
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.logoStudent .content{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  right:0px;
  bottom: 0px;
}

.logoStudent {
  position: relative;
  max-width: 400px;
  width: 50%;
}

.logoStudent:after {
  content: "";
  display: block;
  padding-bottom: 60%;
}

.signUpSection .content{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  right:0px;
  bottom: 0px;
  left: 0px;

}

.signUpSection {
  position: relative;
  max-width: 500px;
  width: 70%;
}

.signUpSection:after {
  content: "";
  display: block;
  padding-bottom: 175%;
}


.header {
  background-color: white;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.studentSignUpBox {
  background-color: rgb(247, 207, 192);
  box-shadow: 5px 5px 5px darkgrey;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(173, 5, 5);
  padding-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.signUpButton {
  width: 100%;
  height: 100%;
  top:0px;
  right:0px;
  left: 0px;
  bottom: 0px;
  align-items: center;
  margin: 10px;
}

.welcomeText {
  box-shadow: 5px 5px 5px darkgray;
  background-color: rgb(252, 230, 222);
  min-height: 20px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 10px;
  text-justify: center;
  padding-top: 3px;
  color: gray;
}

.inputCssStudent {
  width: 80%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  flex: 1;
  display: flex;
  margin-left:40px;
  font-size: 11px;
  text-align: start;
}
.checkID { 

  min-width: 70px;
  margin-right: 40px;
}

@media(min-width : 390px)and (max-width : 499px){
  .studentSignUp {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  
  .logoStudent .content{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    right:0px;
    bottom: 0px;
  }
  
  .logoStudent {
    position: relative;
    max-width: 400px;
    width: 50%;
  }
  
  .logoStudent:after {
    content: "";
    display: block;
    padding-bottom: 60%;
  }
  
  .signUpSection .content{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    right:0px;
    bottom: 0px;
    left: 0px;
  
  }
  
  .signUpSection {
    position: relative;
    max-width: 500px;
    width: 70%;
  }
  
  .signUpSection:after {
    content: "";
    display: block;
    padding-bottom: 150%;
  }
  
  
  .header {
    background-color: white;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .studentSignUpBox {
    background-color: rgb(247, 207, 192);
    box-shadow: 5px 5px 5px darkgrey;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(173, 5, 5);
    padding-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .signUpButton {
    width: 100%;
    height: 100%;
    top:0px;
    right:0px;
    left: 0px;
    bottom: 0px;
    align-items: center;
    margin: 10px;
  }
  
  .welcomeText {
    box-shadow: 5px 5px 5px darkgray;
    background-color: rgb(252, 230, 222);
    min-height: 20px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 10px;
    text-justify: center;
    padding-top: 3px;
    color: gray;
  }
  
  .inputCssStudent {
    width: 80%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    flex: 1;
    display: flex;
    margin-left:40px;
    font-size: calc(9px + 1vmin);
    text-align: start;
  }
  .checkID { 
  
    min-width: 80px;
    margin-right: 20px;
  }


}

@media(min-width : 500px)and (max-width : 600px){
  .studentSignUp {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  
  .logoStudent .content{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    right:0px;
    bottom: 0px;
  }
  
  .logoStudent {
    position: relative;
    max-width: 400px;
    width: 50%;
  }
  
  .logoStudent:after {
    content: "";
    display: block;
    padding-bottom: 60%;
  }
  
  .signUpSection .content{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    right:0px;
    bottom: 0px;
    left: 0px;
  
  }
  
  .signUpSection {
    position: relative;
    max-width: 500px;
    width: 70%;
  }
  
  .signUpSection:after {
    content: "";
    display: block;
    padding-bottom: 110%;
  }
  
  
  .header {
    background-color: white;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .studentSignUpBox {
    background-color: rgb(247, 207, 192);
    box-shadow: 5px 5px 5px darkgrey;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(173, 5, 5);
    padding-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .signUpButton {
    width: 100%;
    height: 100%;
    top:0px;
    right:0px;
    left: 0px;
    bottom: 0px;
    align-items: center;
    margin: 10px;
  }
  
  .welcomeText {
    box-shadow: 5px 5px 5px darkgray;
    background-color: rgb(252, 230, 222);
    min-height: 20px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 10px;
    text-justify: center;
    padding-top: 3px;
    color: gray;
  }
  
  .inputCssStudent {
    width: 80%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    flex: 1;
    display: flex;
    margin-left:40px;
    font-size: calc(9px + 1vmin);
    text-align: start;
  }
  .checkID { 
  
    min-width: 80px;
    margin-right: 20px;
  }


}

@media(min-width : 601px){
  .studentSignUp {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  
  .logoStudent .content{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    right:0px;
    bottom: 0px;
  }
  
  .logoStudent {
    position: relative;
    max-width: 400px;
    width: 50%;
  }
  
  .logoStudent:after {
    content: "";
    display: block;
    padding-bottom: 60%;
  }
  
  .signUpSection .content{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    right:0px;
    bottom: 0px;
    left: 0px;
  
  }
  
  .signUpSection {
    position: relative;
    max-width: 500px;
    width: 70%;
  }
  
  .signUpSection:after {
    content: "";
    display: block;
    padding-bottom: 90%;
  }
  
  
  .header {
    background-color: white;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .studentSignUpBox {
    background-color: rgb(247, 207, 192);
    box-shadow: 5px 5px 5px darkgrey;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    color: rgb(173, 5, 5);
    padding-top: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .signUpButton {
    width: 100%;
    height: 100%;
    top:0px;
    right:0px;
    left: 0px;
    bottom: 0px;
    align-items: center;
    margin: 10px;
  }
  
  .welcomeText {
    box-shadow: 5px 5px 5px darkgray;
    background-color: rgb(252, 230, 222);
    min-height: 20px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 10px;
    text-justify: center;
    padding-top: 3px;
    color: gray;
  }
  
  .inputCssStudent {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-content: space-between;
    flex: 1;
    display: flex;
    font-size: calc(8.5px + 1vmin);
    text-align: start;
    padding-left: 0px;
    padding-right: 0px;
  }
  .checkID { 
    min-width: 80px;
    flex-direction: column;
    display: flex;
    margin-left: 5;
  }
 
  
}