.publisherSignUp {
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.logoPublisher .content{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  right:0px;
  bottom: 0px;
}

.logoPublisher {
  position: relative;
  max-width: 400px;
  width: 50%;
}

.logoPublisher:after {
  content: "";
  display: block;
  padding-bottom: 60%;
}

.signUpSectionP .content{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  right:0px;
  bottom: 0px;
  left: 0px;

}

.signUpSectionP {
  position: relative;
  max-width: 500px;
  width: 70%;
}

.signUpSectionP:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}


.header {
  background-color: white;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.publisherSignUpBox {
  background-color: rgb(247, 207, 192);
  box-shadow: 5px 5px 5px darkgrey;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  color: rgb(173, 5, 5);
  padding-top: 20px;
  margin-right: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.signUpButton {
  width: 100%;
  height: 100%;
  top:0px;
  right:0px;
  left: 0px;
  bottom: 0px;
  align-items: center;
  margin: 10px;
}

.welcomeText {
  box-shadow: 5px 5px 5px darkgray;
  background-color: rgb(252, 230, 222);
  min-height: 20px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 10px;
  text-justify: center;
  padding-top: 3px;
  color: gray;
}

.inputCssPublisher {
  padding-left:30px;
  width: 75%;
  height: 100%;
  flex-direction: column;
  flex: 1;
  display: flex;
  margin-left:50px;
  font-size: calc(9px + 1vmin);
  text-align: start;
}
.inputCheck { 
  flex: 1;
  min-width: 50px;
  margin-right: 50px;
  margin-left: 10px;
    flex-direction: column;
    display: flex;
}

@media(min-width : 445px)and (max-width:579px){
  .signUpSectionP:after {
    content: "";
    display: block;
    padding-bottom: 75%;
  }
  .inputCssPublisher {
    padding-left:30px;
    width: 75%;
    height: 100%;
    flex-direction: column;
    flex: 1;
    display: flex;
    margin-left:50px; 
    font-size: calc(9px + 1vmin);
    text-align: start;
  }
}
@media(min-width : 580px){
  .signUpSectionP:after {
    content: "";
    display: block;
    padding-bottom: 55%;
  }
  .inputCssPublisher {
    padding-left:30px;
    width: 65%;
    height: 100%;
    flex-direction: column;
    flex: 1;
    display: flex;
    margin-left:50px;
    font-size: calc(9px + 1vmin);
    text-align: start;
  }
}
