

  @media (max-width:600px) {
    .totalBox{
      flex-direction: column;

    }
    .payHistory{
      height: 500px;
    flex-direction: column;
               padding: 10px;
                border: 2px rgb(247, 207, 192) solid;
                border-radius: 10px;
                align-items: center;
    }
  }

  @media (min-width:601px) {
    .payHistory{
      flex: 4;
      height: 800px;
    flex-direction: column;
               padding: 10px;
                border: 2px rgb(247, 207, 192) solid;
                border-radius: 10px;
                align-items: center;
    }
  }



