  
div.problem {
    width: 100%;
    padding: 40px 50px 0px 30px;
    

  }
  div.problem > div.one{
    display: block;
    border: 1px darkgrey solid;
    width: 100%;
  }
  
  div.problem > div.one >input{
    display: block;
    font-size: 12px;
    font-weight: 500;
    font-family: inherit;
    border: 0px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    width: 150%;
    border-color: lightgray;
    outline: none;
  }
  
  