  
div.problem {
    width: 100%;
    padding: 40px 50px 0px 70px;
  }
  
  div.problem > input.id {
    display: block;
    font-size: 24px;
    font-weight: 800;
    font-family: inherit;
    border: 0px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    width: 150%;
    border-color: lightgray;
    outline: none;
  }
  
  div.problem > textarea.contents {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    border: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 60px);
    outline: none;
    resize: none;
  }